header {
  background-image: url('');
  width: 100vw;
  height: 40%;
  // float: left;
  // position: absolute;
  top: 0;
  left: 0;
  background: gray;
}



.category {
  font-size: 4em;
  color: white;
  background: red;
}
